---
layout: default
title: Sponsors
permalink: /sponsors/
image: unsplash_my-life-through-a-lens-bq31L0jQAjU.jpg
---

<!-- Begin Sponsors Section -->
<section id="Sponsors" class="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            
            <h3>{{ site.partnersTitle }}</h3>
            {% for partner in site.data.partners %}
            <h5>{{ partner.group }}</h5>
            <ul class="list-inline">
                {% for element in partner.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            <a href="{{ site.c4sponsorsUrl | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.partnersC4sponsorsButton }}</a>
        </div>
    </div> 
</section>
<!-- End Sponsors Section -->
